doctype html
html
  head
    meta(http-equiv="refresh", content="0; URL='http://ayso.bluesombrero.com/region55'")
  body
    a(href="http://ayso.bluesombrero.com/region55")Moved to http://ayso.bluesombrero.com/region55
