div.navbar
	div.navbutton
		a(href="/index.html") Home
	div.navbutton 
		a(href="/registration.html") Registration
	div.navbutton 
		a(href="/coachpage.html") Coach
	div.navbutton 
		a(href="/referee.html") Referee Information
	div.navbutton 
		a(href="/schedule-standings.html") Schedule/Standings
	div.navbutton 
		a(href="/extra/index.html") Extra
	div.navbutton 
		a(href="/calendar.html") Calendar
	div.navbutton 
		a(href="/fields.html") Fields
	div.navbutton 
		a(href="/questions.html") Questions
	div.navbutton 
		a(href="/board-members.html") Board Members
	div.navbutton 
		a(href="/division-coordinators.html") Division Coordinators
