div.navbar
	div.navbutton
		a(href="/index.html") Home
	//-div.navbutton 
		//-a(href="/sunsurf") Sun & Surf Tournament
	div.navbutton 
		a(href="/registration.html") Registration
	div.navbutton 
		a(href="/coachpage.html") Coaching
	div.navbutton 
		a(href="/referee.html") Referee
	div.navbutton 
		a(href="/schedule-standings.html") Schedule/Standings
	div.navbutton 
		a(href="/extra/index.html") Extra
	div.navbutton 
		a(href="/calendar.html") Calendar
	div.navbutton 
		a(href="/fields.html") Fields
	div.navbutton 
		a(href="/questions.html") Questions
	div.navbutton 
		a(href="/board-members.html") Board
