h3 Board Members

table(border='1', class='boardmembers')
    tr
        td Regional Commissioner
        td Butch Ducharme
        td 
        td
            a(href="mailto:commissioner@ayso55.org") commissioner@ayso55.org
    tr
        td Treasurer
        td Melissa Delgleize
        td 714-585-3161
        td
            a(href="mailto:treasurer@ayso55.org") treasurer@ayso55.org
    tr
        td Registrar
        td Denise English
        td 714-488-5063
        td
            a(href="mailto:registrar@ayso55.org") registrar@ayso55.org
    tr
        td Secretary
        td Anne Brasie
        td 
        td
            a(href="mailto:secretary@ayso55.org") secretary@ayso55.org
    tr
        td Child Protection Advocate
        td Hovannes Daniels
        td 
        td
            a(href="mailto:cvpa@ayso55.org") cvpa@ayso55.org
    tr
        td Coach Administrator
        td Mark Di Lauro
        td 
        td
            a(href="mailto:coach@ayso55.org") coach@ayso55.org
    tr
        td Coach Administrator
        td Jason Kakimoto
        td 
        td
            a(href="mailto:asstcoach@ayso55.org") asstcoach@ayso55.org
    tr
        td Referee Administrator
        td Loren Maddy
        td 
        td
            a(href="mailto:referee@ayso55.org") referee@ayso55.org
    tr
        td Asst. Referee Administrator
        td Peter Furman
        td 
        td
            a(href="mailto:assistantref1@ayso55.org") assistantref1@ayso55.org
    tr
        td Director of Referee Mentoring
        td Peter Furman
        td 
        td
            a(href="mailto:refmentoring@ayso55.org") refmentoring@ayso55.org
    tr
        td Referee Instructor
        td Rick Sedivy
        td 
        td
            a(href="mailto:refinstructor@ayso55.org") refinstructor@ayso55.org
    tr
        td Safety Director
        td Dani DeGrood
        td 
        td
            a(href="mailto:safety@ayso55.org") safety@ayso55.org
    tr
        td Scheduler
        td Debbie Doherty
        td
        td
            a(href="mailto:schedules@ayso55.org") schedules@ayso55.org
    tr
        td Team Parent Coordinator
        td Marianne Low
        td 
        td
            a(href="mailto:teamparent@ayso55.org") teamparent@ayso55.org
    tr
        td Volunteer Coordinator
        td Marianne Low
        td 
        td
            a(href="mailto:volunteer@ayso55.org") volunteer@ayso55.org
    tr
        td Fields Coordinator
        td open
        td 
        td
            a(href="mailto:fields@ayso55.org") fields@ayso55.org
    tr
        td Webmaster
        td Dan Minear
        td 
        td
            a(href="mailto:webmaster@ayso55.org") webmaster@ayso55.org

h3 Coordinators

pre
 |Division     Teams   Coordinator       Email
 |Ref Points   All     Loren Maddy       refpoints@ayso55.org
 |Team Parent  All     Debby Brown       teamparent@ayso55.org
 |U6B1         1-8     Mimi Carles       u6boys1@ayso55.org
 |U6B2         9-16    John Rice         u6boys2@ayso55.org
 |U6G1         1-6     Christine Knip    u6girls1@ayso55.org
 |U6G2         7-12    Kelly Rice        u6girls2@ayso55.org
 |U8B1         1-9     Christine Appell  u8boys1@ayso55.org
 |U8B2         10-18   Valerie McCarthy  u8boys2@ayso55.org
 |U8G1         All     Doreen Saporito   u8girls1@ayso55.org
 |U10B1        1-7     Dean West         u10boys1@ayso55.org
 |U10B2        8-14    Cliff Macklin     u10boys2@ayso55.org
 |U10G1        1-5     Jeff Biggins      u10girls1@ayso55.org
 |U10G2        6-10    Heather Perez     u10girls2@ayso55.org
 |U12B         All     Wally Dubno       u12boys@ayso55.org
 |U12G         All     Paul Kirby        u12girls@ayso55.org
 |U14/U16/U19  All     Stephanie Clobes/Troy Johnson   u14u16u19@ayso55.org
 |Extra Teams  All     Mark Di Lauro     coach@ayso55.org
 |Volunteer Coordinator  All Marianne Low  volunteer@ayso55.org

p
  | There is a lot of good information for Coordinators to be found in the 
  a(href="/docs/Fall2015/Division Coordinator manual 2015.pdf") Division Coordinator Manual

p
  | Ask Butch how you can help with Region 55. We can always use some more hands.

