h3 Board Members

table(border='1', class='boardmembers')
    tr
        td Regional Commissioner
        td Butch Ducharme
        td 
        td
            a(href="mailto:commissioner@ayso55.org") commissioner@ayso55.org
    tr
        td Treasurer
        td Melissa Delgleize
        td 714-585-3161
        td
            a(href="mailto:treasurer@ayso55.org") treasurer@ayso55.org
    tr
        td Registrar
        td Denise English
        td 714-488-5063
        td
            a(href="mailto:registrar@ayso55.org") registrar@ayso55.org
    tr
        td Secretary
        td Anne Brasie
        td 
        td
            a(href="mailto:secretary@ayso55.org") secretary@ayso55.org
    tr
        td Child Protection Advocate
        td Hovannes Daniels
        td 
        td
            a(href="mailto:cvpa@ayso55.org") cvpa@ayso55.org
    tr
        td Coach Administrator
        td Mark Di Lauro
        td 
        td
            a(href="mailto:coach@ayso55.org") coach@ayso55.org
    tr
        td Coach Administrator
        td Jason Kakimoto
        td 
        td
            a(href="mailto:asstcoach@ayso55.org") asstcoach@ayso55.org
    tr
        td Referee Administrator
        td Loren Maddy
        td 
        td
            a(href="mailto:referee@ayso55.org") referee@ayso55.org
    tr
        td Asst. Referee Administrator
        td Peter Furman
        td 
        td
            a(href="mailto:assistantref1@ayso55.org") assistantref1@ayso55.org
    tr
        td Director of Referee Mentoring
        td Peter Furman
        td 
        td
            a(href="mailto:refmentoring@ayso55.org") refmentoring@ayso55.org
    tr
        td Referee Instructor
        td Rick Sedivy
        td 
        td
            a(href="mailto:refinstructor@ayso55.org") refinstructor@ayso55.org
    tr
        td Safety Director
        td Dani DeGrood
        td 
        td
            a(href="mailto:safety@ayso55.org") safety@ayso55.org
    tr
        td Scheduler
        td Becky Kirby
        td
        td
            a(href="mailto:schedules@ayso55.org") schedules@ayso55.org
    tr
        td Team Parent Coordinator
        td Debby Brown
        td 
        td
            a(href="mailto:teamparent@ayso55.org") teamparent@ayso55.org
    tr
        td Volunteer Coordinator
        td Marianne Low
        td 
        td
            a(href="mailto:volunteer@ayso55.org") volunteer@ayso55.org
    tr
        td Fields Coordinator
        td open
        td 
        td
            a(href="mailto:fields@ayso55.org") fields@ayso55.org
    tr
        td Webmaster
        td Dan Minear
        td 
        td
            a(href="mailto:webmaster@ayso55.org") webmaster@ayso55.org

h3 Coordinators

table(border='1', class='boardmembers')
  tr
    th Division
    th Teams
    th Coordinator
    th Email
  tr
    td Ref Points
    td All
    td Loren Maddy
    td refpoints@ayso55.org
  tr
    td Team Parent
    td All
    td Debby Brown
    td teamparent@ayso55.org
  tr
    td U6B1
    td 1-8
    td Mimi Carles
    td u6boys1@ayso55.org
  tr
    td U6B2
    td 9-16
    td John Rice
    td u6boys2@ayso55.org
  tr
    td U6G1
    td 1-6
    td Christine Knip
    td u6girls1@ayso55.org
  tr
    td U6G2
    td 7-12
    td Kelly Rice
    td u6girls2@ayso55.org
  tr
    td U8B1
    td 1-9
    td Christine Appell
    td u8boys1@ayso55.org
  tr
    td U8B2
    td 10-18
    td Valerie McCarthy
    td u8boys2@ayso55.org
  tr
    td U8G1
    td All
    td Doreen Saporito
    td u8girls1@ayso55.org
  tr
    td U10B1
    td 1-7
    td Dean West
    td u10boys1@ayso55.org
  tr
    td U10B2
    td 8-14
    td Cliff Macklin
    td u10boys2@ayso55.org
  tr
    td U10G1
    td 1-5
    td Jeff Biggins
    td u10girls1@ayso55.org
  tr
    td U10G2
    td 6-10
    td Heather Perez
    td u10girls2@ayso55.org
  tr
    td U12B
    td All
    td Wally Dubno
    td u12boys@ayso55.org
  tr
    td U12G
    td All
    td Paul Kirby
    td u12girls@ayso55.org
  tr
    td U14/U16/U19
    td All
    td Stephanie Clobes/Troy Johnson
    td u14u16u19@ayso55.org
  tr
    td Extra Teams
    td All
    td Mark Di Lauro
    td coach@ayso55.org
  tr
    td Volunteer Coordinator
    td All
    td Marianne Low
    td volunteer@ayso55.org

p
  | There is a lot of good information for Coordinators to be found in the 
  a(href="/docs/Fall2015/Division Coordinator manual 2015.pdf") Division Coordinator Manual

p
  | Ask Butch how you can help with Region 55. We can always use some more hands.

