h3 Board Members

table(border='1', class='boardmembers')
    tr
        td Regional Commissioner
        td Butch Ducharme
        td 
        td
            a(href="mailto:commissioner@ayso55.org") commissioner@ayso55.org
    tr
        td Treasurer
        td Melissa Delgleize
        td 714-585-3161
        td
            a(href="mailto:treasurer@ayso55.org") treasurer@ayso55.org
    tr
        td Registrar
        td Denise English
        td 714-488-5063
        td
            a(href="mailto:registrar@ayso55.org") registrar@ayso55.org
    tr
        td Secretary
        td Dani DeGrood
        td 
        td
            a(href="mailto:secretary@ayso55.org") secretary@ayso55.org
    tr
        td Child Protection Advocate
        td Hovannes Daniels
        td 
        td
            a(href="mailto:cvpa@ayso55.org") cvpa@ayso55.org
    tr
        td Coach Administrator
        td Mark Di Lauro
        td 
        td
            a(href="mailto:coach@ayso55.org") coach@ayso55.org
    tr
        td Coach Administrator
        td Jason Kakimoto
        td 
        td
            a(href="mailto:asstcoach@ayso55.org") asstcoach@ayso55.org
    tr
        td Referee Administrator
        td Loren Maddy
        td 
        td
            a(href="mailto:referee@ayso55.org") referee@ayso55.org
    tr
        td Asst. Referee Administrator
        td Peter Furman
        td 
        td
            a(href="mailto:assistantref1@ayso55.org") assistantref1@ayso55.org
    tr
        td Director of Referee Mentoring
        td Peter Furman
        td 
        td
            a(href="mailto:refmentoring@ayso55.org") refmentoring@ayso55.org
    tr
        td Referee Instructor
        td Rick Sedivy
        td 
        td
            a(href="mailto:refinstructor@ayso55.org") refinstructor@ayso55.org
    tr
        td Safety Director
        td Dani DeGrood
        td 
        td
            a(href="mailto:safety@ayso55.org") safety@ayso55.org
    tr
        td Scheduler
        td Debbie Doherty
        td
        td
            a(href="mailto:schedules@ayso55.org") schedules@ayso55.org
    tr
        td Team Parent Coordinator
        td Marianne Low
        td 
        td
            a(href="mailto:teamparent@ayso55.org") teamparent@ayso55.org
    tr
        td Volunteer Coordinator
        td Marianne Low
        td 
        td
            a(href="mailto:volunteer@ayso55.org") volunteer@ayso55.org
    tr
        td Webmaster
        td Dan Minear
        td 
        td
            a(href="mailto:webmaster@ayso55.org") webmaster@ayso55.org

h3 Coordinators

table(border='1', class='coordinators')
  tr
    th Division
    th Teams
    th Coordinator
    th Email
  tr
    td Spring
    td All
    td Marianne Low and Paul Kirby
    td spring@ayso55.org
  tr
    td U6 Boys 1
    td 1-9
    td Paul Kirby
    td u6boys1@ayso55.org
  tr
    td U6 Boys 2
    td 10-18
    td Steve McCarthy
    td u6boys2@ayso55.org
  tr
    td U6 Girls
    td All
    td Patty Sampson
    td u6girls@ayso55.org
  tr
    td U8 Boys 1
    td 1-12
    td Christine Appell
    td u8boys1@ayso55.org
  tr
    td U8 Boys 2
    td 13-24
    td Dorene Saporito
    td u8boys2@ayso55.org
  tr
    td U8 Girls 1
    td 1 - 9
    td Debbie Doherty
    td schedules@ayso55.org
  tr
    td U8 Girls 2
    td 10 - 18
    td Heather Perez
    td u8girls2@ayso55.org
  tr
    td U10 Boys
    td All
    td Troy Johnson
    td u10boys@ayso55.org
  tr
    td U10 Girls
    td All
    td Kelly Rice
    td u10girls@ayso55.org
  tr
    td U12 Boys
    td All
    td Wally Dubno
    td u12boys@ayso55.org
  tr
    td U12 Girls
    td All
    td Maranne Low
    td u12girls@ayso55.org
  tr
    td U14/U16/U19
    td All
    td Dani DeGrood / Stephanie Clobes / Angie Kesler
    td u14u16u19@ayso55.org
  tr
    td Ref.  Points
    td All
    td Chris Frei
    td refpoints@ayso55.org
  tr
    td Extra Teams
    td All
    td Mark Di Lauro
    td coach@ayso55.org

p There is a lot of good information for Coordinators to be found in the 
a(href="/docs/Division Coordinator manual.pdf") Division Coordinator Manual

p Ask Butch how you can help with Region 55. We can always use some more hands.
