h3 Fall 2016 Calendar of Events

h4 Picture Day Sunday, October 2, 2016

p
  | the  
  a(href="/docs/Fall2016/2016 AYSO Region 55 PICTURE SCHEDULE.pdf") team schedule 
  | is available

h4 Picnic volunteer schedule for Picture Day

p 
  | the 
  a(href="/docs/Fall2016/2016 AYSO Region 55 Picnic Volunteer Schedule.pdf") picnic schedule 
  | is also available

p
  a(href="/docs/Fall2016/Calendar.pdf") PDF version of calendar

// table(border='1')
//  tr
//     th Date
//    th Day
//    th Time
//    th Description
//    th Location
//  tr
//    td Jul 13-17
//    td Mon-Fri
//    td All Day or Half Day
//    td British Soccer Camp
//    td Lark View

// ### The Region 55 calendar
// <iframe id="1932872930" src="https://www.google.com/calendar/embed?src=en.usa%23holiday@group.v.calendar.google.com&amp;color=%23668CD9&amp;src=ayso55.org_9lmdvtob124k7qtv966u2u0i6c@group.calendar.google.com&amp;color=%23D96666&amp;mode=MONTH&amp;ctz=America/Los_Angeles&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="Region 55 Main Calendar" width="650" height="600" frameborder="0" scrolling="no"></iframe>
