// ## Events Schedule
// ### Picture Information and Schedules
// [Fall 2014 Picture Schedule](/docs/Fall02014/R55-Picture-Schedule_v3.pdf)
// [Fall 2014 Picnic Volunteer Schedule](/docs/Fall2014/2014-Picnic-Volunteer-Schedule-20140930.pdf)

h3 Calendar of Events

table(border='1', class='coordinators')
  tr
    th Date
    th Day
    th Time
    th Description
    th Location
  tr
    td Mar 27
    td Fri
    td 12:00n - Close
    td Section 1/10/11 EXPO
    td San Diego
  tr
    td Mar 28
    td Sat
    td All Day
    td Section 1/10/11 EXPO
    td San Diego
  tr
    td Mar 28
    td Sat
    td All Day
    td No Games
    td All Fields
  tr
    td Mar 29
    td Sun
    td All Day
    td Section 1/10/11 EXPO
    td San Diego
  tr
    td Mar 29
    td Sun
    td All Day
    td No Games
    td All Fields
  tr
    td Mar 31
    td Tue
    td 6-9pm
    td 1st Fall Registration
    td Old World
  tr
    td Apr 4
    td Sat
    td All Day
    td No Games
    td All Fields
  tr
    td Apr 5
    td Sun
    td All Day
    td No Games
    td All Fields
  tr
    td Apr 12
    td Sun
    td 12 - 3:30pm
    td 2nd Fall Registration
    td Old World
  tr
    td Apr 19
    td Sun
    td All Day
    td EXTRA Team Tryouts
    td Lark View
  tr
    td May 3
    td Sun
    td All Day
    td EXTRA Team Tryouts
    td Lark View
  tr
    td May 6
    td Wed
    td 6-9pm
    td 3rd Fall Registration
    td Old World
  tr
    td May 9
    td Sat
    td All Day
    td Spring Regular League Ends
    td NA
  tr
    td May 10
    td Sun
    td All Day
    td Mothers Day - No Games
    td With Family
  tr
    td May 16
    td Sat
    td All Day
    td Area K Beach Bash Tournament
    td HB Sports Complex
  tr
    td May 17
    td Sun
    td All Day
    td Area K Beach Bash Tournament
    td HB Sports Complex
  tr
    td Jun 22-26
    td Mon-Fri
    td All Day or Half Day
    td British Soccer Camp
    td Lark View
  tr
    td Jul 13-17
    td Mon-Fri
    td All Day or Half Day
    td British Soccer Camp
    td Lark View
  tr
    td Aug 3-7
    td Mon-Fri
    td All Day or Half Day
    td British Soccer Camp
    td Lark View

// ### The Region 55 calendar
// <iframe id="1932872930" src="https://www.google.com/calendar/embed?src=en.usa%23holiday@group.v.calendar.google.com&amp;color=%23668CD9&amp;src=ayso55.org_9lmdvtob124k7qtv966u2u0i6c@group.calendar.google.com&amp;color=%23D96666&amp;mode=MONTH&amp;ctz=America/Los_Angeles&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="Region 55 Main Calendar" width="650" height="600" frameborder="0" scrolling="no"></iframe>
