h3 Fall 2015 Calendar of Events

p
  a(href="/docs/Fall2015/Region-55-Calendar.pdf") PDF version

table(border='1')
  tr
    th Date
    th Day
    th Time
    th Description
    th Location
  tr
    td Jul 13-17
    td Mon-Fri
    td All Day or Half Day
    td British Soccer Camp
    td Lark View
  tr
    td Jul 18
    td Sat
    td 9am - noon
    td Coaches Mtg and U6-U12 training
    td College View
  tr
    td Jul 28
    td Tue
    td 7pm
    td Board Meeting
    td Rodrigos
  tr
    td Jul 29
    td Wed
    td 6pm
    td Coach Mtg and U6-U8 training
    td College View
  tr
    td Jul 31-Aug 2
    td Fri-Sun
    td Various Times
    td Area K Supercamp
    td FVHS
  tr
    td Aug 1
    td Sat
    td n/a
    td 1st Allowed practice
    td n/a
  tr
    td Aug 3-7
    td Mon-Fri
    td All Day or Half Day
    td British Soccer Camp
    td Lark View
  tr
    td Aug 22
    td Sat
    td 9am
    td Bin Cleanup
    td Sunview
  tr
    td Aug 22
    td Sat
    td 1-2pm
    td Team Parent Meeting
    td Fuzion
  tr
    td Aug 25
    td Tue
    td 7pm
    td Board Meeting
    td Rodrigos
  tr
    td Aug 29
    td Sat
    td 9am
    td Referee Online Companion Field Training
    td College View
  tr
    td Sep 1
    td Tue
    td 5-9pm
    td Part 1 Referee Class
    td SCE (7333 Bolsa Ave)
  tr
    td Sep 2
    td Wed
    td 5-9pm
    td Part 2 Referee Class
    td SCE (7333 Bolsa Ave)
  tr
    td Sep 3
    td Thurs
    td 7-8pm
    td Uniform Distribution
    td Fuzion
  tr
    td Sep 8
    td Tue
    td 5-9pm
    td Part 1 Referee Class
    td SCE (7333 Bolsa Ave)
  tr
    td Sep 9
    td Wed
    td 5-9pm
    td Part 2 Referee Class
    td SCE (7333 Bolsa Ave)
  tr
    td Sep 10
    td Thurs
    td 5pm
    td Referee Field training
    td Sunview
  tr
    td Sep 10
    td Thurs
    td 6pm
    td Referee Uniform Distribution
    td Sunview
  tr
    td Sep 11
    td Fri
    td 6:30pm
    td Returning Referee & Coach Night
    td SCE (7333 Bolsa Ave)
  tr
    td Sep 12
    td Sat
    td Variable
    td First Games - all divisions
    td Various
  tr
    td Sep 22
    td Tue
    td 7pm
    td Board Meeting
    td Rodrigos
  tr
    td Oct 1
    td Thurs
    td n/a
    td Final roster names for trophies due
    td n/a
  tr
    td Oct 4
    td Sun
    td Various Times
    td Picture Day/Picnic Day
    td Behind Library
  tr
    td Oct 20
    td Tues
    td n/a
    td Ratings due from Coaches
    td n/a
  tr
    td Oct 27
    td Tues
    td 7pm
    td Board Meeting
    td Rodrigos
  tr
    td Oct 27
    td Tues
    td n/a
    td All Star Nominations due from Coaches
    td n/a
  tr
    td Nov 4
    td Wed
    td 7-8pm
    td Trophy Distribution
    td Fuzion
  tr
    td Nov 8
    td Sun
    td TBD
    td All Star Tryouts
    td Sun View
  tr
    td Nov 15
    td Sun
    td TBD
    td All Star Tryouts
    td Sun View

// ### The Region 55 calendar
// <iframe id="1932872930" src="https://www.google.com/calendar/embed?src=en.usa%23holiday@group.v.calendar.google.com&amp;color=%23668CD9&amp;src=ayso55.org_9lmdvtob124k7qtv966u2u0i6c@group.calendar.google.com&amp;color=%23D96666&amp;mode=MONTH&amp;ctz=America/Los_Angeles&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="Region 55 Main Calendar" width="650" height="600" frameborder="0" scrolling="no"></iframe>
