h3 Calendar of Events

a(href="/docs/Fall2015/Region-55-Calendar.pdf") PDF version

table(border='1')
	tr
		th Date
		th Day
		th Time
		th Description
		th Location
	tr 
		td May 16
		td Sat
		td All Day
		td Area K Beach Bash Tournament
		td HB Sports Complex
	tr 
		td May 17
		td  Sun
		td  All Day
		td  Area K Beach Bash Tournament
		td  HB Sports Complex
	tr 
		td May 26
		td Tue
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Jun 22-26
		td Mon-Fri
		td All Day or Half Day
		td British Soccer Camp
		td Lark View
	tr 
		td Jun 23
		td Tue
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Jul 13-17
		td Mon-Fri
		td All Day or Half Day
		td British Soccer Camp
		td Lark View
	tr 
		td Jul 18
		td Sat
		td 9am - noon
		td Coaches Mtg and U6-U12 training
		td College View
	tr 
		td Jul 28
		td Tue
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Jul 29
		td Wed
		td 6pm
		td Coach Mtg and U6-U8 training
		td College View
	tr 
		td Jul 31-Aug 2
		td Fri-Sun
		td Various Times
		td Area K Supercamp
		td FVHS
	tr 
		td Aug 1
		td Sat
		td n/a
		td 1st Allowed practice
		td n/a
	tr 
		td Aug 3-7
		td Mon-Fri
		td All Day or Half Day
		td British Soccer Camp
		td Lark View
	tr 
		td Aug 22
		td Sat
		td TBD
		td Referee Field Training
		td TBD
	tr 
		td Aug 25
		td Tue
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Aug 26
		td Wed
		td TBD
		td Uniform Distribution
		td Lamppost
	tr 
		td Aug 29
		td Sat
		td TBD
		td Referee Field Training
		td TBD
	tr 
		td Sep 8
		td Tue
		td 5-9pm
		td Part 1 Ref Class 
		td TBD
	tr 
		td Sep 12
		td Sat
		td Variable
		td First Games - all divisions
		td Various
	tr 
		td Sep 22
		td Tue
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Oct 1
		td Thurs
		td n/a
		td Final roster names for trophies due
		td 
	tr 
		td Oct 4
		td Sun
		td TBD
		td Picture Day/Picnic Day’
		td TBD
	tr 
		td Oct 20
		td Tues
		td n/a
		td Ratings due from Coaches
		td 
	tr 
		td Oct 27
		td Tues
		td 7pm
		td Board Meeting
		td Rodrigos
	tr 
		td Oct 27
		td Tues
		td n/a
		td All Star Nominations due from Coaches
		td n/a
	tr 
		td Nov 4
		td Wed
		td 6-8pm
		td Trophy Distribution
		td Lamppost
	tr 
		td Nov 8
		td Sun
		td TBD
		td All Star Tryouts
		td Sun View
	tr 
		td Nov 15
		td Sun
		td TBD
		td All Star Tryouts
		td Sun View

// ### The Region 55 calendar
// <iframe id="1932872930" src="https://www.google.com/calendar/embed?src=en.usa%23holiday@group.v.calendar.google.com&amp;color=%23668CD9&amp;src=ayso55.org_9lmdvtob124k7qtv966u2u0i6c@group.calendar.google.com&amp;color=%23D96666&amp;mode=MONTH&amp;ctz=America/Los_Angeles&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;hl=en" title="Region 55 Main Calendar" width="650" height="600" frameborder="0" scrolling="no"></iframe>
