table
  th
    td Division
    td Teams
    td Coordinator
    td Email
  tr
    td U6 Boys
    td 1-11
    td Marianne Low
    td u6boys1@ayso55.org 
  tr
    td U6 Boys
    td 12-22
    td Doreen Saporito 
    td u6boys2@ayso55.org
  tr
    td U6 Girls
    td 1-6
    td Melissa Delgleize
    td u6girls1@ayso55.org 
  tr
    td U6 Girls
    td 7-12
    td Debbie Doherty
    td schedules@ayso55.org
  tr
    td U8 Boys
    td 1-9
    td Anne Clark
    td u8boys1@ayso55.org
  tr
    td U8 Boys
    td 10-18
    td DJ Clarke
    td u8boys2@ayso55.org 
  tr
    td U8 Girls
    td 1-8
    td Heather Perez
    td u8girls1@ayso55.org
  tr
    td U8 Girls
    td 9-16
    td Troy Johnson
    td u8girls2@ayso55.org
  tr
    td U10 Boys
    td All
    td Robert MacLean
    td u10boys@ayso55.org 
  tr
    td U10 Girls
    td All
    td Loren Maddy
    td u10girls@ayso55.org 
  tr
    td U12 Boys
    td All
    td Wally Dubno 
    td u12boys@ayso55.org
  tr
    td U12 Girls
    td All
    td Andrea Anderson 
    td u12girls@ayso55.org
  tr
    td U14/U16/U19
    td All
    td Dani DeGrood / Stephanie Clobes / Angie Kesler
    td u14u16u19@ayso55.org
  tr
    td Ref.  Points
    td All
    td Chris Frei
    td refpoints@ayso55.org 
  tr
    td Plus/Misc.
    td All
    td Tom Scully
    td volunteer@ayso55.org 

| There is a lot of good information for Coordinators to be found in the 
a(href="/docs/Division Coordinator manual.pdf") Division Coordinator Manual
| .
