h3 Field Locations

p All practice times are Monday - Friday (4pm - dusk), Saturday (8am - 5pm), and Sunday (10am - 5pm) with the exception of Westmont, which does not allow practices on Tuesday or Thursday.

table(border='1')
  tr
    th Function
    th Field
    th Map
  tr
    td U6 Games
    td Westmont Elementary School
    td
      a(href="https://goo.gl/maps/zkzP7")
  tr
    td U8 Games
    td Lark View
    td
      a(href="https://goo.gl/maps/BwgsL")
  tr
    td U10B Games
    td Springview Middle School
    td
      a(href="https://goo.gl/maps/ROOXP")
  tr
    td U10G Games
    td College View Elementary School
    td
      a(href="https://goo.gl/maps/y5u6t")
  tr
    td U11 Extra, U12 Games
    td Glen View Park
    td
      a(href="https://goo.gl/maps/OSNZV")
  tr
    td U13 Extra, U14, U16, U19 Games
    td Sun View Elementary School
    td
      a(href="https://goo.gl/maps/rH3zf")
  tr
    td Practice
    td Golden View Elementary School
    td
      a(href="https://goo.gl/maps/pWWNM")
  tr
    td Practice
    td Mesa View Middle School
    td
      a(href="https://goo.gl/maps/a95Dj")
