h3 Field Locations

p All practice times are Monday - Friday (4pm - dusk), Saturday (8am - 5pm), and Sunday (10am - 5pm) with the exception of Westmont, which does not allow practices on Tuesday or Thursday.

table(border='1')
  tr
    th Function
    th Field
  tr
    td U6 Games
    td 
      a(href="https://goo.gl/maps/zkzP7") Westmont Elementary School
  tr
    td U8 Games
    td
      a(href="https://goo.gl/maps/BwgsL") Lark View
  tr
    td U10B Games
    td
      a(href="https://goo.gl/maps/ROOXP") Springview Middle School
  tr
    td U10G Games
    td
      a(href="https://goo.gl/maps/y5u6t") College View Elementary School
  tr
    td U11 Extra, U12 Games
    td
      a(href="https://goo.gl/maps/OSNZV") Glen View Park
  tr
    td U13 Extra, U14, U16, U19 Games
    td
      a(href="https://goo.gl/maps/rH3zf") Sun View Elementary School
  tr
    td Practice
    td
      a(href="https://goo.gl/maps/pWWNM") Golden View Elementary School
  tr
    td Practice
    td
      a(href="https://goo.gl/maps/a95Dj") Mesa View Middle School
