.style1 {
	color: #4477BB;
	text-decoration: underline;
}
.style2 {
	margin-right: 0px;
}
.style4 {
	font-size: small;
	font-weight: bold;
}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
}
.style6 {
	text-align: center;
}
.style7 {
	text-align: left;
}
.style81 {
	color: #3366CC;
}
.blink {
	text-decoration: blink;
}
.style8 {
	font-family: Arial, Helvetica, sans-serif;
}
.style9 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}
.style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.style12 {
	font-weight: bold;
	font-size: small;
	color: #800080;
}
.style13 {
	font-size: small;
}
.style14 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: small;
}
.style15 {
	font-size: small;
	color: #191970;
	text-decoration: underline;
}
.style17 {
	font-size: small;
	font-weight: bold;
	color: #800080;
	margin-top: 5px;
	margin-bottom: 5px;
}
.style18 {
	color: #800080;
}
.style19 {
	font-family: Arial, Helvetica, sans-serif;
	color: #3366CC;
	text-align: left;
}

